.Image{
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
.carousel-caption{
    position: absolute;
    top: 45%;
}
.text_typed{
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    color: #06067f;
    font-size: 45px;
}
.title-1{
    text-align: center;
}
.Apropos{
    text-align: center;
}
.title-2{
    font-style: italic;
    font-family: "Segoe Script";
    color: #090274;
    text-align: center;
}
.page-3{
    height: 30vh;
}
.title{
    text-align: center;
    margin-top: 2%;
}
.ocean_trade{
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%s;
}
.partenariat{
    width: 100px;
    height: 80px;
}
div.Page-2{
    background: #5d63f8;
    padding: 5px 20px 50px 5px;
}
.col{
    background: rgb(13,24,204);
    background: linear-gradient(100deg, rgba(13,24,204,1) 0%, rgba(28,166,227,0.303046218487395) 42%, rgba(38,44,196,1) 100%);
    border: 2px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: .3s;
}
.col:hover{
    margin-top: -12px;
}